
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}


body{
    background-color: #fff;
    height: 200vh;
    margin: 0;
}

.container{
    box-shadow: 0px 4px 5px 0px #323536;
    -webkit-box-shadow: 0px 4px 5px 0px #323536;
    -moz-box-shadow: 0px 4px 5px 0px #323536;
}
.navbar{
    max-width: 1560px;
    padding: 20px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.navbar-top div{
    text-transform: uppercase;
    font-weight: 600;
}

